.footer {
  height: 300px;
  position: relative;
  margin-top: 100px;
}

.logo {
  color: #db053f;
}

.faqs {
  display: grid;
  grid-template-columns: 40% 60%;
}

.faqs h2 {
  margin-bottom: 16px;
}
